
<div id="header">
<h1>TwittMap</h1>
</div>
<link rel="stylesheet" type="text/css" href="header-search.css">

<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

<div id="section">
<h1>Tweeter Map, Total tweet {{count}} </h1>

<h2>Selected Keyword: {{selected}}</h2>
<form method="POST"> 
<p>Click on the red dots to see the tweets</p>
<select name ="dropdown" onchange='this.form.submit()'>
    <option selected="selected"  disabled="disabled"></option>
    <option value="Restaurant">Restaurant</option>
    <option value="Basketball">Basketball</option>
    <option value="Weather">Weather</option>
    <option value="Friday">Friday</option>
    <option value="Cloud">Cloud</option>
    <option value="Movie">Movie</option>
</select>
</form>
<noscript><input type="submit" value="Submit"></noscript>
<head>

</head>
<body>
     <style type="text/css">
        
        #map { height: 512px; width:512px;}
    </style>

    
    <div id="map" style='width:45%; height:70%'></div>
    <script type="text/javascript">
       function initialize() {
          var mapOptions = {
             center: new google.maps.LatLng(-34.397, 150.644),
             zoom: 1,
             minZoom: 1
          };
          var map = new google.maps.Map(document.getElementById("map"), mapOptions);
          var allowedBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(85, -180), // top left corner of map
          new google.maps.LatLng(-85, 180)  // bottom right corner
          );
          var k = 5.0; 
          var n = allowedBounds .getNorthEast().lat() - k;
          var e = allowedBounds .getNorthEast().lng() - k;
          var s = allowedBounds .getSouthWest().lat() + k;
          var w = allowedBounds .getSouthWest().lng() + k;
          var neNew = new google.maps.LatLng( n, e );
          var swNew = new google.maps.LatLng( s, w );
          boundsNew = new google.maps.LatLngBounds( swNew, neNew );
          map .fitBounds(boundsNew);

          var markers = {{marker_list |tojson}}
          var i

        for( i = 0; i < markers.length; i++ ) {
          var position = new google.maps.LatLng(markers[i][0], markers[i][1]);
          marker = new google.maps.Marker({
              position: position,
              map: map,
          });
       }
     }

       google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script>
      function initMap() {

        var mapDiv = document.getElementById('map');
        var UScenter = {lat: 40.461881, lng: -99.757229};
        //var UScenter = {lat: 0.0, lng: 0.0};
        var map = new google.maps.Map(mapDiv, {
          center: UScenter,
          zoom: 4
        });


        var markers = {{marker_list |tojson}}
        var i

        for( i = 0; i < markers.length; i++ ) {
          var position = new google.maps.LatLng(markers[i][0], markers[i][1]);
          marker = new google.maps.Marker({
              position: position,
              map: map,
          });


      }


      }
    </script>
  

    <script src="https://maps.googleapis.com/maps/api/js?callback=initialize"async defer></script>

</body>
</div>

