<html>


<div id="header"></div>


<div id="section">
<h1>Tweeter Map, Total tweets on Elastic Search {{count}} </h1>
<h2>Selected Keyword: {{selected}}</h2>
<form method="POST"> 
<p>Click on the red dots to see the tweets</p>
<select name ="dropdown" onchange='this.form.submit()'>
    <option selected="selected"  disabled="disabled"></option>
    <option value="Restaurant">Restaurant</option>
    <option value="Basketball">Basketball</option>
    <option value="Weather">Weather</option>
    <option value="Friday">Friday</option>
    <option value="Cloud">Cloud</option>
    <option value="Movie">Movie</option>
    <option value="Panda">Panda</option>
    <option value="God">God</option>
    <option value="Trump">Trump</option>
    <option value="Hilarious">Hilarious</option>

</select>
</form>
<noscript><input type="submit" value="Submit"></noscript>

</dev>


<head>
  
  <title>TwittMap</title>
  
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"async defer></script>
</head>
<body>
  <div id="map" style="height: 500px; width: 1000px;">
</div>




<script type="text/javascript">
function initMap() {

    var locations = {{marker_list|tojson}};
    var small_blue = 'https://storage.googleapis.com/support-kms-prod/SNP_2752125_en_v0'

    var UScenter = {lat: 40.461881, lng: -99.757229};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: UScenter,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });



    var marker, i;
    var infowindow = new google.maps.InfoWindow();

    
    for (i = 0; i < locations.length; i++) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0][0], locations[i][0][1]),
        map: map,
        icon: small_blue
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][1]);
          infowindow.open(map, marker);
        }
      })(marker, i));

        
      }


    }
  </script>
</body>
</html>