<!DOCTYPE html>
<html>
<head>
	<title>TweetMap</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
    <style type="text/css">
        html, body { 
     		height: 100%;
     	}
     	#map { 
     		height: 100%; 
     	}
    </style>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
              <a class="navbar-brand" href="#">Tweeter Map, Please select keyword</a>
        </div>
    <ul class="nav navbar-nav navbar-left">
    <form method="POST"> 

        <select name ="dropdown" >
            <option selected="selected"  disabled="disabled"></option>
            <option value="Restaurant">Restaurant</option>
            <option value="Basketball">Basketball</option>
            <option value="Weather">Weather</option>
            <option value="Friday">Friday</option>
            <option value="Cloud">Cloud</option>
            <option value="Movie">Movie</option>
            <option value="Panda">Panda</option>
            <option value="God">God</option>
            <option value="Trump">Trump</option>
            <option value="Hilarious">Hilarious</option>
        </select>
    </ul>
    
    <div class="keyword">
      
       <a class="navbar-brand" href="#">    keyword: {{selected}}</a>
      
    </div>

<ul class="nav navbar-nav navbar-right">
                <button type="button" class="btn btn-default navbar-btn" onclick='this.form.submit()'>Search</button>
            </ul>
            
</form>
<noscript><input type="submit" value="Submit"></noscript>

    </nav>

	<div id="map"></div>
  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/moment/min/moment.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"async defer></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  
  <script type="text/javascript">
    var keyword = null;
    var lat = null;
    var lng = null;
    var heatmap = null;
    var marker = null;
    var infowindow = null;
    var map = null;

    var xmlhttp = new XMLHttpRequest();

    /*
     * Listen to the http request 
     */
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        var text = JSON.parse(xmlhttp.responseText); 
        if (text['pattern'] == "global") {
          var locs = text['tweets'];
          var arr = heatmap.getData();
          for (var i = 0; i < locs.length; ++i) {
              var loc = new google.maps.LatLng(parseInt(locs[i][1]), parseInt(locs[i][0]));
            arr.push(loc);
          }
        } else {
          var tweets = text['tweets'];
          var content = "";
          for (var i = 0; i < tweets.length; ++i) {
            content += ("<p>" + tweets[i] + "</p>")
          }
          infowindow.setContent(content);
            infowindow.open(map, marker);
        }
      }
    };
 

    var locations = {{marker_list|tojson}};
    var small_blue = 'https://storage.googleapis.com/support-kms-prod/SNP_2752125_en_v0'

    var UScenter = {lat: 40.461881, lng: -99.757229};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: UScenter,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });



    var marker, i;
    var infowindow = new google.maps.InfoWindow();

    
    for (i = 0; i < locations.length; i++) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0][0], locations[i][0][1]),
        map: map,
        icon: small_blue
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][1]);
          infowindow.open(map, marker);
        }
      })(marker, i));

        
      }
  
  
/* 
 * Change the keyword of dropdown
 */
$(".dropdown").on("click", "li a", function() {
  keyword = $(this).text();
  $(".dropdown-toggle").html(keyword + ' <span class="caret"></span>');
}); 

/* 
 * Initilize two datetimepickers
 */
$('#datetimepicker1').datetimepicker();
$('#datetimepicker2').datetimepicker();

/*
 * When clicking the sumbit button, send a POST request
 */
$("button").on("click", function() {
  sendHttp("global");
});

function sendHttp(pattern) {

  /*
   * Remind the user to pick a location and a keyword
   */
  if (keyword == null) {
    alert("Please pick a keyword");
    return;
  }

  /* 
   * Get the begin date and end date 
   */
  var beginDate = $("#datetimepicker1 input").val().split("/").join("-").split(" ").join("+");
  var endDate = $("#datetimepicker2 input").val().split("/").join("-").split(" ").join("+");
  if (beginDate == "" || endDate == "") {
    alert("Please pick the begin date and end date");
    return;
  }

  if (pattern == "global") {
    /*
     * Clear the previous data
     */
    var arr = heatmap.getData();
    while (arr.length > 0)
      arr.pop();

    /*
     * HTTP request sent
     */
    xmlhttp.open("POST", "/global?kw=" + keyword + "&start=" + beginDate + "&end=" + endDate, true);
    xmlhttp.send();

  } else {
    // xmlhttp.open("POST", "/local?kw=" + keyword + "&start=" + beginDate + "&end=" + endDate, true);
    xmlhttp.open("POST", "/local?kw=" + keyword + "&start=" + beginDate + "&end=" + endDate + "&lat=" + lng + "&lon=" + lat, true);
    xmlhttp.send();
  }
}
  </script>
  









</body>
</html>
